# URL ou Token de Compartilhamento da Receita Federal
RECEITA_SHARE_URL=https://arquivos.receitafederal.gov.br/index.php/s/YggdBLfdninEJX9

# Caminho do banco SQLite local
DB_PATH=data/cnpj.db

# Mês padrão ('latest' ou 'AAAA-MM')
DEFAULT_MONTH=latest

# Tamanho do lote de inserção
BATCH_SIZE=20000

# RabbitMQ
RABBITMQ_HOST=localhost
RABBITMQ_PORT=5672
RABBITMQ_USER=guest
RABBITMQ_PASSWORD=guest
RABBITMQ_QUEUE=cnpj_tasks_queue
